<% unless @movie.link_movies.blank? %>
  <% @movie.link_movies.each do |link| %>
  <tr>
    <div class="new-link">
      <%=link_to link.link_text, url_with_protocol(link.link_text), :target=>:blank%>
      <%=link_to 'Edit link', edit_movie_link_show_path(@movie.id,link.id) if link.user===current_user %>
      <%=link_to 'Delete link', [@movie, link], method: :delete, data: { confirm: 'Are you sure?' } if link.user===current_user %>
    </div>
  </tr>
  <% end %>
<%else%>
  This movie don't haven links
<% end %>