<p id="notice"><%= notice %></p>


<p>
  <strong>Show:</strong>
  <%= @photo_series.show %>
</p>

<%= link_to 'Edit', edit_photo_series_path(@photo_series) %> |
<%= link_to 'Back', photo_series_index_path %>
