<% unless @season.link_seasons.blank? %>
  <% @season.link_seasons.each do |link| %>
  <tr>
    <div class="new-link">
      <%=link_to link.link_text, url_with_protocol(link.link_text), :target=>:blank%>
      <%=link_to 'Edit link', edit_series_link_series_path(@series.id,link.id) if link.user===current_user %>
      <%=link_to 'Delete link', [@series, link], method: :delete, data: { confirm: 'Are you sure?' } if link.user===current_user %>
    </div>
  </tr>
  <% end %>
<%else%>
  This series doesn't haven links
<% end %>